@{
	Layout = null;
}

@model List<PostDTO>

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>

<ul style="list-style-type: none">
    <li><a href="AddPost">Add post</a></li>
    <li><a href="ViewPosts">View Posts</a></li>
</ul>

<h1>Posts</h1>

@if (Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Topic ID</th>
                <th>Text</th>
                <th>Date & Time</th>
                <th>Update Post</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Post.Id</td>
                    <td>@post.Post.User</td>
                    <td>@post.Topic.TopicName</td>
                    <td>@post.Post.Text</td>
                    <td>@post.Post.Date</td>
                    <td>
                        <a href="UpdatePost?id=@post.Post.Id"><button>Update Post</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No posts found.</p>
}