@{
	Layout = null;
}

@model List<Ex3.Models.Post>

@{
    ViewData["Title"] = "View Posts";
}
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>

<ul style="list-style-type: none">
    <li><a href="AddPost">Add post</a></li>
    <li><a href="ViewPosts">View Posts</a></li>
</ul>

<h1>Posts</h1>

@if (Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Topic ID</th>
                <th>Text</th>
                <th>Date & Time</th>
                <th>Update Post</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Id</td>
                    <td>@post.User</td>
                    <td>@post.TopicID</td>
                    <td>@post.Text</td>
                    <td>@post.Date</td>
                    <td>
                        <a href="UpdatePost?id=@post.Id"><button>Update Post</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No posts found.</p>
}